html {
  display: flex;
}

body.sideNavBody { // any body class found on every page can be used here, this keeps styles from effecting the Wordpress editor
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}

.wrap {
  flex: 1 1 auto;
}

html,
body {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font;
  color: $body-color;
  line-height: 1.6;

  @include smooth-fonts;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $h1-weight;
  font-size: $h1-size;
  line-height: 1;
  margin-bottom: 15px;
}

h2,
.h2 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $h2-weight;
  font-size: $h2-size;
  line-height: 1;
  margin-bottom: 15px;
}

h3,
.h3 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: $h3-weight;
  font-size: $h3-size;
  line-height: 1;
  margin-bottom: 15px;
}

p,
li {
  font-family: $body-font;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}

a {
  transition: $base-transition;

  &:hover,
  &:focus {
    text-decoration: none;
    color: lighten($orange, 10);
  }
}

ul.nav a {
  display: block;
}

.panel {
  padding: $section-padding 0;

  @include tablet {
    padding: ($section-padding + 10px) 0;
  }

  @include laptop {
    padding: ($section-padding + 20px) 0;
  }

  @include desktop {
    padding: ($section-padding + 30px) 0;
  }
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.inline-block {
  display: inline-block;
}

.cardstyle {
  @include cardstyle;
}

img.cardstyle {
  padding: 0;
}

.jumbo-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  @include desktop {
    max-width: 1400px;
  }
}

.wp-block-image {
  .alignleft {
    margin: 30px 0;

    @include phablet {
      margin: 15px 30px 15px 0;
    }
  }
  .alignright {
    margin: 30px 0;

    @include phablet {
      margin: 15px 0 15px 30px;
    }
  }
}
