.btn {
  padding: 10px;
  color: #fff;
  background-color: $green;

  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  transition: $base-transition;

  @include desktop {
    padding: 17px 20px;
    letter-spacing: 0.1em;
  }

  &:hover,
  &:focus {
    color: #fff;
    transform: scale(1.03);
    background-color: lighten($green, 10);
  }

  svg {
    margin-right: 5px;

    @include desktop {
      margin-right: 10px;
    }
  }

  &-darkgreen {
    background-color: $darkgreen;

    &:hover,
    &:focus {
      background-color: lighten($green, 5);
    }
  }

  &-orange {
    background-color: $orange;

    &:hover,
    &:focus {
      background-color: lighten($orange, 10);
    }
  }

  &-red {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: lighten($red, 10);
    }
  }
}
