section.footer-cta {
  overflow: hidden;
  position: relative;
  padding-top: 60px;

  img.mountains {
    bottom: -1px;
    left: 0;
    width: 100%;
    position: absolute;

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;

    @include mobile {
      padding-bottom: 90px;
    }

    @include phablet {
      padding-bottom: 200px;
    }
    //
    // @include desktop {
    //   padding-bottom: 300px;
    // }
    //
    // @include wide {
    //   padding-bottom: 400px;
    // }
    //
    // @include hd {
    //   padding-bottom: 500px;
    // }

    @include desktop {
      padding-bottom: 20vw;
    }
  }

  .cta {
    position: relative;
    max-width: 550px;
    text-align: center;
    padding: 15px;

    @include mobile {
      padding: 30px;
    }

    @include laptop {
      padding: 60px;
    }

    h2 {
      color: $orange;
      line-height: 1;

      @include laptop {
        font-size: 60px;
      }
    }
  }
}

section.footer-map {
  padding: 15px 0;
  background-color: #335440;
  color: #fff;

  @include tablet {
    padding: 30px 0;
  }

  @include laptop {
    padding: 60px 0;
  }

  @include desktop {
    padding: 90px 0;
  }

  .col-content {
    padding: 60px 15px;

    @include tablet {
      padding: 0 15px;
    }

  }

  h1,
  h2,
  h3,
  p,
  i,
  li {
    color: #fff;
  }

  h3 {

    margin-bottom: 15px;
    font-family: $primary-font;
    font-weight: bold;

    @include tablet {
      margin-top: 60px;
    }
  }

  a.btn {
    text-transform: capitalize;

    &:nth-of-type(1) {
      margin-right: 15px;
      margin-bottom: 15px;

      @include laptop {
        margin-bottom: 0;
      }
    }
  }

  .block {
    margin-bottom: 15px;
    font-weight: bold;
  }
}

footer {
  background-color: #333333;
  padding: 15px 0;

  @include tablet {
    padding: 60px 0;
  }

  @include desktop {
    padding: 90px 0;
  }

  img {
    margin-bottom: 30px;
  }

  .container,
  nav.nav-primary ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  a.btn {
    margin-bottom: 60px;
  }

  nav.nav-primary {
    max-width: 800px;
    width: 100%;

    ul {
      width: 100%;

      @include tablet {
        flex-direction: row;
      }
    }

    li {
      margin-bottom: 30px;

      @include laptop {
        margin-bottom: 60px;
      }

      a {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
      }

      ul.sub-menu {
        display: none;
      }
    }
  }

  .socials {
    a.social-icon {
      color: #fff;
      font-size: 24px;
      margin: 0 5px;
    }
  }

  a:hover,
  a:focus {
    color: lighten($orange, 10)!important;
  }
}

.copyright {
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 5px 15px;
  font-size: 15px;
}
