body.template-front-page {
  section.responsive-hero {
    position: relative;
    @include jumbo-bg;

    flex-direction: column;
    height: 550px;
    background-size: calc(100% + 100px) auto;
    background-position: top right;
    width: 100%;
    overflow: hidden;

    @include mobile {
      background-position: center;
      min-height: inherit;
      background-size: cover;
      height: calc(100vh - 96px);
      overflow: visible;
    }

    @include tablet {
      height: 100vh;
    }

    > .container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @include mobile {
        padding: 35px;
        justify-content: flex-start;
        align-items: center;
      }

      .cta {
        background-color: #fff;
        padding: 25px 15px 10px;
        // max-width: 290px;
        position: relative;


        @include mobile {
          max-width: 600px;
          padding: 25px 15px;
        }

        @include phablet {
          padding: 45px;
        }

        span.title {
          color: $orange;
          font-size: 36px;
          font-family: $secondary-font;
          display: block;
          line-height: 1;
          margin-bottom: 15px;

          @include phablet {
            font-size: 60px;
            margin-bottom: 20px;
          }
        }

        span.subtitle {
          font-size: 16px;
          display: block;
          line-height: 1.2;
          color: #333;
          margin-bottom: 15px;


          @include phablet {
            font-size: 24px;
            margin-bottom: 30px;
          }
        }

        a.btn {
          padding: 12px 8px;

          @include mobile {
            padding: 12px;
          }

          @include desktop {
            padding: 17px 20px;
          }
        }

        a.btn-green {
          margin: 0 0 15px 0;

          @include mobile {
            margin: 0 15px 0 0;
          }

          @include tablet {
            margin: 0 30px 0 0;
          }
        }

        a.btn-darkgreen {
          margin: 0 0 15px 0;

          @include mobile {
              margin: 0;
          }
        }
      }
    }

    .strapline {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $darkgreen;
      color: #fff;
      font-weight: bold;

      @include mobile {
        position: absolute;
      }

      .container {
        padding: 15px;
        flex-direction: column;
        text-align: center;

        @include phablet {
          padding: 30px 15px;
        }
      }

      h1,
      h2,
      h3,
      h4 {
        display: block;
        color: #fff;
      }
    }
  }
  .services,
  section.service {
    padding: 15px 0;

    @include mobile {
      padding: 30px 0;
    }

    @include laptop {
      padding: 60px 0;
    }
  }

  section.service {
    @include laptop {
      .row {
        margin: 0 -30px;
      }

      .col-md-6 {
        padding: 0 30px;
      }
    }

    .col-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .content {
        max-width: 515px;

        h1 {
          margin-bottom: 15px;
          line-height: 1;

          @include laptop {
            font-size: 48px;
            margin-bottom: 30px;
          }
        }

        .text {
          margin-bottom: 15px;

          @include laptop {
            margin-bottom: 30px;
          }
        }
      }
    }

    .cardstyle {
      height: 230px;
      margin-bottom: 15px;

      @include mobile {
        height: 300px;
      }

      @include tablet {
        margin-bottom: 0;
      }

      @include laptop {
        height: 390px;
      }
    }

    &:nth-of-type(odd) {
      .row {
        @include tablet {
          flex-direction: row-reverse;
        }
      }
    }

    &:nth-of-type(1) {
      h1 {
        color: $orange;
      }

      a.btn {
        background-color: $orange;

        &:hover,
        &:focus {
          background-color: lighten($orange, 10);
        }
      }
    }

    &:nth-of-type(2) {
      h1 {
        color: $green;
      }

      a.btn {
        background-color: $green;

        &:hover,
        &:focus {
          background-color: lighten($green, 10);
        }
      }
    }

    &:nth-of-type(3) {
      h1 {
        color: $red;
      }

      a.btn {
        background-color: $red;

        &:hover,
        &:focus {
          background-color: lighten($red, 10);
        }
      }
    }
  }
}
