.ci-border {
  background-color: $orange;
  width: 20px;
  top: -20px;
  bottom: -20px;
  position: absolute;
  border-radius: 10px;

  &:before,
  &:after {
    @include pseudo;

    height: 20px;
    background-color: $orange;
    width: 20px;
    transform: skewX(30deg);
    position: absolute;
  }

  &:before {
    width: 140px;

    @include phablet {
      width: 240px;
    }
  }

  &:after {
    width: 40px;
  }

  &-1 {
    right: 100%;

    &:before {
      bottom: 0;
      left: 5px;
    }

    &:after {
      top: 0;
      left: 14px;
    }
  }

  &-2 {
    left: 100%;

    &:before {
      top: 0;
      right: 5px;
    }

    &:after {
      bottom: 0;
      right: 14px;
    }
  }
}

.simple-header {
  padding-top: 60px;

  @include tablet {
    padding-top: 210px;
  }

  @include desktop {
    padding-top: 215px;
  }
}

.is-style-rounded {
  img {
    @include cardstyle;
    padding: 0;
  }
}

.interior-container {
  padding: 15px;

  @include tablet {
    padding: 30px 15px;
  }

  // @include desktop {
  //   padding: 60px 15px;
  // }

  a.btn {
    margin-bottom: 15px;
  }
}


.image-row {
  img.cardstyle {
    margin-bottom: 30px;
  }
}

//
// img.red {
//   border: solid 4px $red;
// }
//
// img.orange {
//   border: solid 4px $orange;
// }
//
// img.green {
//   border: solid 4px $green;
// }


.red {
  color: $red;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.darkgreen {
  color: $darkgreen;
}

.staff-row {
  @include tablet {
    padding: 30px 15px;
  }

  .col-md-6 {
    padding: 15px 15px;

    @include tablet {
      padding: 30px 15px;
    }
  }
}

.responsive-hero {
  width: 100%;
  display: flex;
  align-items: flex-end;

  h1 {
    color:#fff;
    text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
  }
}
img.pine {
    position: absolute;
    right: 0;
    z-index: -1;
    max-width: 100%;
    display: none;

    @include tablet {
      top: -50px;
      display: block;
    }
}

.page-header {
  h1 {
    @include mobile {
      font-size: 48px;
    }

    @include laptop {
      font-size: 60px;
    }
  }
}
