.ci-border {
  background-color: $orange;
  width: 20px;
  top: -20px;
  bottom: -20px;
  position: absolute;
  border-radius: 10px;

  &:before,
  &:after {
    @include pseudo;

    height: 20px;
    background-color: $orange;
    width: 20px;
    transform: skewX(30deg);
    position: absolute;
  }

  &:before {
    width: 140px;

    @include phablet {
      width: 240px;
    }
  }

  &:after {
    width: 40px;
  }

  &-1 {
    right: 100%;

    &:before {
      bottom: 0;
      left: 5px;
    }

    &:after {
      top: 0;
      left: 14px;
    }
  }

  &-2 {
    left: 100%;

    &:before {
      top: 0;
      right: 5px;
    }

    &:after {
      bottom: 0;
      right: 14px;
    }
  }
}

.is-style-rounded {
  img {
    @include cardstyle;
    padding: 0;
  }
}

.interior-container {
  padding: 15px;

  @include tablet {
    padding: 30px 15px;
  }

  @include laptop {
    padding: 90px 15px;
  }

  @include desktop {
    padding: 120px 15px;
  }

  a.btn {
    margin-bottom: 15px;
  }
}

img.cardstyle {
  margin-bottom: 15px;
}

.image-row {
  img.cardstyle {
    margin-bottom: 30px;
  }
}

//
// img.red {
//   border: solid 4px $red;
// }
//
// img.orange {
//   border: solid 4px $orange;
// }
//
// img.green {
//   border: solid 4px $green;
// }


.red {
  color: $red;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.darkgreen {
  color: $darkgreen;
}

.staff-row {
  @include tablet {
    padding: 30px 15px;
  }

  .col-md-6 {
    padding: 15px 15px;

    @include tablet {
      padding: 30px 15px;
    }
  }
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;

  @include tablet {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

a.cardstyle-link {
  display: block;

  h2 {
    color: #fff;
    text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
  }

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.getinvolved-row a.cardstyle-link {
  min-height: 300px;
  margin-bottom: 30px;
  padding: 30px;
}

.myth-red {
  font-style: italic;

  strong {
    color: $red;
    font-family: $secondary-font;
      font-style: normal;
  }
}

.myth-green {
  strong {
    color: $green;
    font-family: $secondary-font;
  }
}

.wp-block-gallery {
  width: 100%;
}

ul.blocks-gallery-grid {
  width: 100%;
}
